body,p{
padding: 2px;
margin: 1px;
font-size: 20px;
font-style: italic;
color: rgba(15, 16, 17, 0.993);
text-align: center;
}
header{
    grid-area: cabecalho;
    background-color: rgb(127, 255, 212);
    justify-content: center;
    margin-top: 1px;
    
}
section{
    grid-area: secao;
    background-color: coral;
}
aside{
    grid-area: barra-lateral;
    background-color: rgb(240, 198, 60);
}
footer{
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
}

.parte1,.parte2,.parte3{
    width: 25%;
    background-color: rgb(7, 80, 190);
}

.parte2{
    width: 50%;
    margin: 0 2px;
}
 .principal{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px 450px 150px;
    grid-template-areas: "cabecalho cabecalho "
    "secao barra-lateral"
    "rodape rodape";
 }
 
 @media(max-width:992px){
    .principal {
    grid-template-columns:100%;
  grid-template-areas:"cabecalho" "secao" "barra-lateral""rodape" ;
 }

 }
 footer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
 }
.parte1,.parte2,.parte3{
margin: 0;
width: 50%;
}

.parte2{
    width: 100%;
    order: -1;
}

@media(max-width:768px){
    body{
        margin: 0 15px;
    }

    .principal,.parte1,.parte2,.parte3{
        width: 100%;
    }

    .parte2{
        order: initial;
    }
}

img{
    border: 5px solid rebeccapurple;
    border-radius: 15px;
    
}
